node_modules/
.DS_Store
*.log
.idea/
local.properties
android/
www/capacitor.js
www/cap-app.js
www/assets/game_resources.pack
hykb-sdk/libs/*
!hykb-sdk/libs/.gitkeep
!hykb-sdk/libs/hykb-common.aar
!hykb-sdk/libs/hykb-login.aar
!hykb-sdk/libs/hykb-anti.aar
!hykb-sdk/libs/hykb-single.aar
hykb-sdk/assets/*
!hykb-sdk/assets/.gitkeep
